*, *::before, *::after {
  box-sizing: border-box;
}

#pages {
  > * {
    display: none;
  }
  
  > .active {
    display: block;
  }
}

body {
  margin: 0;
  font-family: $font-main;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 58px;
  margin: 85px 0;
}

.button-one {
  font-family: $font-main;
  font-weight: $font-bold;
  font-size: 30px;
  letter-spacing: 6px;
  text-indent: 6px;
  text-transform: uppercase;
  width: 246px;
  height: 83px;
  border: none;
  background-color: $color-one;
  color: $color-wht;
  margin-top: 48px;
}
