.hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../../images/background.webp') no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .hero-inner {
    position: absolute;
    top: 45%;
    transform: translateY(-45%);
    display: none;

    h1:nth-child(1) {
      margin-left: -150px;
    }

    h1:nth-child(2) {
      margin-right: -125px;
    }

    &::after {
      position: absolute;
      content: '';
      left: 50%;
      transform: translateX(-50%);
      width: 276px;
      height: 6px;
      background: $color-one;
      bottom: -76px;
    }

    &.active {
      display: block;
    }
  }
}

.main-nav {
  max-width: 1200px;
  width: inherit;
  display: flex;
  justify-content: space-between;
  position: relative;

  ul {
    display: flex;
    align-items: center;
  }

  li {
    list-style: none;

    a {
      font-size: 20px;
      letter-spacing: 1px;
      font-weight: $font-semibold;
      color: $color-two;
      text-transform: uppercase;
      text-decoration: none;
      padding: 0 15px;

      &.active {
        color: $color-wht;
      }
    }
  }

  .hamburger {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 20px;
    right: 30px;
    background: url('../../images/bars.svg');
    background-size: cover;
    display: none;
    cursor: pointer;
  }
}

.discover {
  text-align: center;
  position: absolute;
  bottom: 44px;

  img {
    width: 39px;
    height: 39px;
    cursor: pointer;
  }
}

@media (max-width: 767px) {
  .hero {
    .hero-inner {
      text-align: center;

      h1:nth-child(1),
      h1:nth-child(2) {
        margin: 15px;
      }
    }
  }

  .main-nav {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .logo {
      p {
        font-size: 20px;
      }

      p:nth-child(2) {
        display: none;
      }
    }

    ul {
      padding: 0;
      flex-direction: column;
      width: 100%;
      padding: 40px 0;
      background-color: $color-blk;
      position: absolute;
      margin-top: -500px;
      transition: 1s;
      opacity: 0;

      &.active {
        margin-top: 0;
        transition: 1s;
        opacity: 1;
        z-index: 10;
      }

      li {
        padding: 10px 0;
      }
    }

    .hamburger {
      display: block;
      z-index: 11;
    }
  }

  .discover img {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 1081px) {
  .hero .hero-inner::after {
    bottom: -30px;
  }
}