.page-slogan {
  font-size: 100px;
  letter-spacing: 20px;
  font-weight: $font-bold;
  color: $color-one;
  text-transform: uppercase;
  margin: -20px 0;
}

.logo-name {
  font-size: 36px;
  letter-spacing: 12px;
  font-weight: $font-bold;
  color: $color-wht;
  text-transform: uppercase;
}

.logo-subtitle {
  font-size: $base-size;
  letter-spacing: 5px;
  font-weight: $font-bold;
  color: $color-wht;
  text-transform: uppercase;
  margin-top: -36px;
}

.discover {
  font-size: 34px;
  letter-spacing: 7px;
  text-indent: 7px;
  font-weight: $font-regular;
  text-transform: uppercase;
  color: $color-wht;
}

.section-title {
  font-size: 74px;
  letter-spacing: 16px;
  font-weight: $font-bold;
  color: $color-one;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-bottom: 160px;

  &::after {
    position: absolute;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    width: 777px;
    height: 6px;
    background: $color-one;
    bottom: -46px;
  }
}

.product-name {
  font-size: 48px;
  letter-spacing: 4px;
  font-weight: $font-bold;
  color: $color-blk;
  text-transform: uppercase;
  margin-top: 67px;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    left: 0;
    width: 109px;
    height: 4px;
    background: $color-one;
    bottom: -37px;
  }
}

.product-description {
  font-size: $base-size;
  font-weight: $font-regular;
  color: $color-blk;
  line-height: 1.5;
}

.product-info,
.product-info-param {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: $font-black;
  color: $color-blk;
  text-transform: uppercase;
  line-height: 1.5;
}

.product-info-param {
  font-weight: $font-bold;
  color: $color-one;
}

.worker-name {
  font-size: 26px;
  letter-spacing: 1px;
  color: $color-wht;
}

.worker-info {
  font-size: 20px;
  letter-spacing: 1px;
  color: $color-wht;
  font-style: italic;
}

.form-txt {
  font-family: $font-main;
  font-size: 30px;
  letter-spacing: 6px;
  text-indent: 6px;
  font-weight: $font-bold;
  color: $color-blk;
  text-transform: uppercase;
}

footer {
  font-family: $font-main;
  font-weight: $font-semibold;
  text-align: center;
}

@media (max-width: 767px) {
  .page-slogan{
    font-size: 36px;
  }

  .discover {
    font-size: $base-size;

    p {
      display: none;
    }
  }

  .section-title {
    font-size: 30px;
    letter-spacing: 5px;
    margin-bottom: 100px;

    &::after {
      width: 240px;
    }
  }

  .product-name {
    font-size: 22px;
  }

  .product-info,
  .product-info-param {
    font-size: $base-size;
  }

  .about {
    padding-bottom: 60px;

    .about-info {
      font-size: $base-size;
    }
  }

  .form-txt {
    font-size: 22px;
  }
}

@media (max-width: 1081px) {
  .page-slogan {
    font-size: 28px;
    padding: 10px 0;
  }

  .discover p {
    display: none;
  }
}