/* Fonts */

$font-main: 'Source Sans Pro', sans-serif;

/* Font weight */

$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;

/* Colors */

$color-wht: #fff;
$color-blk: #000;
$color-one: #BEA67C;
$color-two: #838384;